.jumbotron {
    background-image: url("notepad.jpg");
    background-size: cover;
    height: 100vh;
    margin-bottom: 0%;
    text-align: left;
    padding-top: 125px;
    padding-bottom: 30px;
}

.slogan {
    font-family: 'Gochi Hand', cursive;
}

.desc {
    font-family: 'Gochi Hand', cursive;
    text-align: right;
    padding-right: 50px;
    color: #195190FF;
    font-size: 35px;
    line-height: 1;
    margin-right: 30px;
    text-decoration: underline black;
    text-underline-offset: 2px;
}

.button {
    justify-content: center;
    display: flex;
    padding: 20px;
    background-color: #E1DEE7;
    height: 120px;
    border-style: dotted;
    border-color: white;
    border-width: thick;
}

.btn {
    border: 1px solid grey;
    margin: 10px 10px 10px 10px;
    background-color: #7A679E;
    color: white;
    font-family: 'Gochi Hand', cursive;
}

.row {
    padding-bottom: 80px;
    justify-content: center;
    padding: 0px 100px 0px 100px;
    background-color: #E1DEE7;
}

.col-sm-4 {
    padding-top: 30px;
    padding-bottom: 50px;
}

.display {
    display: none;
}

.glow {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

#footer {
    text-align: center;
    height: 220px;
    background-color: #080930;
    color: white;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #E1DEE7, 0 0 40px #E1DEE7, 0 0 50px #E1DEE7, 0 0 60px #E1DEE7, 0 0 70px #E1DEE7;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #7A679E, 0 0 40px #7A679E, 0 0 50px #7A679E, 0 0 60px #7A679E, 0 0 70px #7A679E, 0 0 80px #7A679E;
    }
}

@media screen and (max-width: 600px) {
    .desc {
        display: none;
    }
}

#wrap {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto 0 auto;
    overflow: hidden;
}

#lightings {
    bottom: -60px;
    position: absolute;
    width: 100%;
}

section {
    /*border-radius*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 20px;
    width: 100%;
    position: relative;
    margin: auto;
}

#one {
    /*animation*/
    -webkit-animation: one 5s ease-in-out infinite alternate;
    -moz-animation: one 5s ease-in-out infinite alternate;
    -ms-animation: one 5s ease-in-out infinite alternate;
    -o-animation: one 5s ease-in-out infinite alternate;
    animation: one 5s ease-in-out infinite alternate;
}

@-webkit-keyframes one {
    from {
        -webkit-box-shadow: 0 0 300px 30px #473C78;
    }
    to {
        -webkit-box-shadow: 0 0 150px 25px #080930;
    }
}

@-moz-keyframes one {
    from {
        -moz-box-shadow: 0 0 300px 30px #473C78;
    }
    to {
        -moz-box-shadow: 0 0 150px 25px #080930;
    }
}

@-o-keyframes one {
    from {
        -o-box-shadow: 0 0 300px 30px #473C78;
    }
    to {
        -o-box-shadow: 0 0 150px 25px #080930;
    }
}

@keyframes one {
    from {
        box-shadow: 0 0 250px 20px #473C78;
    }
    to {
        box-shadow: 0 0 150px 25px #080930;
    }
}

#two {
    width: 90%;
    /*animation*/
    -webkit-animation: two 4s ease-in-out infinite alternate;
    -moz-animation: two 4s ease-in-out infinite alternate;
    -ms-animation: two 4s ease-in-out infinite alternate;
    -o-animation: two 4s ease-in-out infinite alternate;
    animation: two 4s ease-in-out infinite alternate;
}

@-webkit-keyframes two {
    from {
        -webkit-box-shadow: 0 0 300px 30px #18C499;
    }
    to {
        -webkit-box-shadow: 0 0 150px 25px #191a52;
    }
}

@-moz-keyframes two {
    from {
        -moz-box-shadow: 0 0 300px 30px #18C499;
    }
    to {
        -moz-box-shadow: 0 0 150px 25px #191a52;
    }
}

@-o-keyframes two {
    from {
        -o-box-shadow: 0 0 300px 30px #18C499;
    }
    to {
        -o-box-shadow: 0 0 150px 25px #191a52;
    }
}

@keyframes two {
    from {
        box-shadow: 0 0 300px 30px #18C499;
    }
    to {
        box-shadow: 0 0 150px 25px #191a52;
    }
}

#three {
    width: 80%;
    /*animation*/
    -webkit-animation: three 3s ease-in-out infinite alternate;
    -moz-animation: three 3s ease-in-out infinite alternate;
    -ms-animation: three 3s ease-in-out infinite alternate;
    -o-animation: three 3s ease-in-out infinite alternate;
    animation: three 3s ease-in-out infinite alternate;
}

@-webkit-keyframes three {
    from {
        -webkit-box-shadow: 0 0 300px 30px #6761ce;
    }
    to {
        -webkit-box-shadow: 0 0 150px 25px #3E33FF;
        ;
    }
}

@-moz-keyframes three {
    from {
        -moz-box-shadow: 0 0 300px 30px #6761ce;
    }
    to {
        -moz-box-shadow: 0 0 150px 25px #3E33FF;
    }
}

@-o-keyframes three {
    from {
        -o-box-shadow: 0 0 300px 30px #6761ce;
    }
    to {
        -o-box-shadow: 0 0 150px 25px #3E33FF
    }
}

@keyframes three {
    from {
        box-shadow: 0 0 300px 30px #6761ce;
    }
    to {
        box-shadow: 0 0 150px 25px #3E33FF;
    }
}

#iconfooter a {
    color: white;
}

#iconfooter .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#iconfooter .social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}


/*
    Multicoloured Hover Variations
*/

#iconfooter #social-insta:hover {
    color: #DE456C;
}

#iconfooter #social-in:hover {
    color: #4099FF;
}

#iconfooter #social-em:hover {
    color: #f39c12;
}