 body {
            margin: 0%;
            padding: 0%;
            overflow-y: scroll;
        }
        
        #input-window {
            padding-left: 30px;
            padding-right: 30px;
            width: 40%;
            position: relative;
            font-size: 1vw;
            float: left;
            background-color: #FDF8F5;
            height: 100%;
        }
        
        #output-window {
            right: 0;
            width: 60%;
            height: 100%;
            float: right;
            position: relative;
            text-align: justify;
            padding-right: 20px;
            padding-left: 30px;
            background-color: #4F4846;
        }
        
        #input-form {
            margin-top: 30px;
        }
        
        #sample-output {
            background-color: #F5F5F5;
            padding-left: 20px;
            overflow-y: scroll;
            height: auto;
        }
        
        #notice-content {
            margin: 40px 20 30 20;
            border: 1px solid grey !important;
            padding: 10px;
            table-layout: fixed;
        }
        
        .button {
            justify-content: center;
            display: flex;
            padding: 20px;
            background-color: #4F4846;
        }
        
        .btn {
            background-color: ivory;
        }
        
        @media screen and (max-width: 600px) {
            #input-window {
                width: 100%;
                height: auto;
            }
        }